body{
    display: flex;
    background-color: #02010e;
    color: white;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    bottom: 100px;
}
:root{
    --cor-base: #3a375e;
    --texto-fundo: rgba(58, 55, 94, 0.3);
    
}
.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
h1{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-size: 28px;
}
#container{
    background-color:rgba(58, 55, 94, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    width: 1192px;
    height: 672px;
    border-radius: 40px;
}

#botao{
    width: 298px;
    height: 111px;
    border-radius: 40px 0px 0px 0px;
    border: none;
}
#botao2{
    width: 298px;
    height: 111px;
    border: none;
}
#botao3{
    width: 298px;
    height: 111px;
    border: none;
}
#botao4{
    width: 298px;
    height: 111px;
    border: none;
    border-radius: 0 40px 0 0;
}